*{
  margin: 0;
  padding:0;
}
body{
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
}
.Header{
  color: aqua;
  direction: rtl;
  margin-top: 15px;
  margin-right: 30px;
}

.USA{
margin-top: 100px;
}

.USA-Box{
  background-color: rgb(184, 58, 58);
  background-size:  500;
  padding-top: 20px;
  margin-top: 110px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10pt 10px 10px 10px;
}

.USA-Box .USA-Text{
  font-size: 20px;
  font-weight: bolder;
  direction: rtl;
  padding-right: 50px;
 color: rgb(42, 230, 136);
  text-shadow: 3px 5px rgb(7, 5, 5);
}

.USA-Box .USA-Sell{
  font-size: 18px;
  font-weight:normal;
  direction: ltr;
  position: relative;
  margin: auto;
  text-indent: 0px 20px;
  width: 70%;
 color: rgb(178, 206, 192);
  text-shadow: 1px 1px rgb(7, 5, 5);
}

.USA-Box .USA-Buy{
  font-size: 18px;
  font-weight:normal;
  direction: ltr;
  position: relative;
  margin: auto;
  text-indent: 0px 20px;
  width: 70%;
 margin-top: 12px;
  color: rgb(178, 206, 192);
  text-shadow: 1px 1px rgb(7, 5, 5);
}

.RUS{
  margin-top: 100px;
}

.RUS-Box{
  background-color: rgb(67, 23, 168);
  background-size:  500px;
  padding-top: 20px;
  margin-top: 110px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10pt 10px 10px 10px;
}

.RUS-Box .RUS-Text{
  font-size: 20px;
  font-weight: bolder;
  direction: rtl;
  padding-right: 50px;
  color: rgb(226, 190, 218);
  text-shadow: 3px 5px rgb(7, 5, 5);
}

.RUS-Box .RUS-Sell{
  font-size: 18px;
  font-weight:normal;
  direction: ltr;
  position: relative;
  margin: auto;
  text-indent: 0px 20px;
  width: 70%;
 color: rgb(178, 206, 192);
  text-shadow: 1px 1px rgb(7, 5, 5);
}

.RUS-Box .RUS-Buy{
  font-size: 18px;
  font-weight:normal;
  direction: ltr;
  position: relative;
  margin: auto;
  text-indent: 0px 20px;
  width: 70%;
 margin-top: 12px;
  color: rgb(178, 206, 192);
  text-shadow: 1px 1px rgb(7, 5, 5);
}

.IRAN{
  margin-top: 100px;
}

.IRAN-Box{
  background-color: rgb(236, 233, 48);
  background-size:  500px;
  padding-top: 20px;
  margin-top: 110px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10pt 10px 10px 10px;
}

.IRAN-Box .IRAN-Text{
  font-size: 20px;
  font-weight: bolder;
  direction: rtl;
  padding-right: 50px;
  color: rgb(99, 11, 80);
  text-shadow: 1px 1px rgb(73, 32, 167);
}

.IRAN-Box .IRAN-Sell{
  font-size: 18px;
  font-weight:normal;
  direction: ltr;
  position: relative;
  margin: auto;
  text-indent: 0px 20px;
  width: 70%;
 color: rgb(59, 4, 43);
  text-shadow: 1px 1px rgb(170, 99, 99);
}

.IRAN-Box .IRAN-Buy{
  font-size: 18px;
  font-weight:normal;
  direction: ltr;
  position: relative;
  margin: auto;
  text-indent: 0px 20px;
  width: 70%;
 margin-top: 12px;
 color: rgb(59, 4, 43);
 text-shadow: 1px 1px rgb(170, 99, 99);
}

.Coin{
  margin-top: 100px;
  }
  
  .Coin-Box{
    background-color: rgb(29, 128, 50);
    background-size:  500;
    direction: rtl;
    padding-top: 20px;
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10pt 10px 10px 10px;
  }
  
  .Coin-Box .Coin-Text{
    font-size: 20px;
    font-weight: bolder;
    direction: rtl;
    padding-right: 50px;
   color: rgb(238, 103, 25);
    text-shadow: 2px 2px rgb(7, 5, 5);
  }
  
  .Coin-Box .Coin-Sell{
    font-size: 18px;
    font-weight:normal;
    direction: ltr;
    position: relative;
    margin: auto;
    text-indent: 0px 20px;
    width: 70%;
   color: rgb(178, 206, 192);
    text-shadow: 1px 1px rgb(7, 5, 5);
  }
  
  .Coin-Box .Coin-Buy{
    font-size: 18px;
    font-weight:normal;
    direction: ltr;
    position: relative;
    margin: auto;
    text-indent: 0px 20px;
    width: 70%;
   margin-top: 12px;
    color: rgb(178, 206, 192);
    text-shadow: 1px 1px rgb(7, 5, 5);
  }